/* Add your custom styles here */
body {
    background-color: #fbfbfb;
}

.container {
    background-color: #f00;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.navbar {
    margin-bottom: 5px;
    background-color: #f00;
}
#example {
  scroll-behavior: smooth;
}
