/* Add your custom styles here */
body {
    background-color: #f4f6f1;
}

.container {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.navbar {
    margin-bottom: 2px;
    background-color: #ecebfa;
}
#example {
  scroll-behavior: smooth;
}
