body {
            margin: 0;
            font-family: Arial, sans-serif;
            display: flex;
			background-color: #f8f9fa;
        }

        .main-menu {
            background-color: #9CB071; /* Green color */
			width: 19%;
			padding: 3px;
			box-sizing: border-box;
			color: white;
			height: 100vh;
        }


	#mobile-menu-toggle {
    	display: none;
    	font-size: 24px;
   	 color: #333;
   	 cursor: pointer;
   	 position: fixed;
   	 top: 20px;
   	 right: 20px;
   	 z-index: 2;
	}
	.main-menu.hidden {
    	display: none; /* Initially hide the menu */
    	position: fixed;
        top: 0;
        left: 0;
        width: 40%;
        height: 100%;
        background-color: #9CB071;
        z-index: 1000;
        overflow-y: auto;
        padding: 20px;
        box-sizing: border-box;
        color: white;
}
	.main-menu a {
            		display: block;
			color: white;
			text-decoration: none;
			padding: 2px 0;
			margin: 1%;
			margin-left: 5%;
			font-size: 0.9em; /* Set font size for main items */
			font-weight: bold;
			border-radius: 3px;
        }

	.main-menu ul li:hover {
            background-color: #6d8241;
        }

        .main-menu ul {
            list-style-type: none;
            padding: 2%;
            margin-bottom: 1%;
			margin-top: 2%;
        }

        .main-menu ul li {
            color: #c0c0c0; /* Color for sub-items */
            font-size: 0.8em; /* Font size for sub-items */
            border: 1px solid #b0c08d;
			border-radius: 7px;
		}

		.main-menu ul .sub-menu {
            display: block;
            margin-left: 21%;
            
        }

        .main-menu ul .sub-menu li {
            color: #c0c0c0; /* Color for sub-items */
            font-size: 0.9em; /* Font size for sub-items */
			font-weight:bold;
        }
		
		.main-menu ul .sub-menu li:hover {
            background-color: #404B29;
        }
        .main-menu .logo {
            text-align: center;
            margin-bottom: 20px;
        }

        .main-menu .logo img {
            max-width: 24%;
            height: auto;
        }


        .content {
            flex-grow: 1;
            padding: 10px;
            box-sizing: border-box;
        }

        .center-column {
            float: center;
			background-color: #f8f9fa;
            width: 72%;
            padding: 0px;
            box-sizing: border-box;
            text-align: center;
            margin-left: 6%;
			justify-content: center;
			align-items: center;
        }

        .telegram {
            width: 22%;
			background-color: #FFFACD;
			display: inline-block;
            border-radius: 7px;
            overflow: hidden;
            position: relative;
            text-decoration: none;
            padding: 0;
            text-decoration: none;
            text-align: center;
            margin-top: 1px;
			margin-bottom: 1%;
			font-weight: bold;
			font-size: 0.85em;
        }
		
        .telegram:hover {
            background-color: #FFAE42;
        }
		
		#imageHeading {
            width: 100%;
			margin-bottom: 1%;
			text-align: center;
            color: #795C34;
            margin-top: 5px; /* Adjust margin as needed */
            font-family: Arial, sans-serif; /* Set the font-family */
            font-size: 1.3em;
			
        } 
		
        .frame {
            max-width: 100%;
            max-height: 70vh;
            margin: 0 auto;
            overflow: hidden;
            position: relative;
            border: 1px solid #BACA99;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 16px;
            background-color:#E7EDDA;
            border-radius: 15px;
			text-align: center;
			display: flex;
			justify-content: center;
			align-items: center;
        }

        .frame img {
            width: 100%;
			max-width: 100%;
            max-height: 98%;
            object-fit: cover;
            display: block;
            border: 1px solid #D0DBB8;
            border-radius: 5px;
            margin: 0 auto;
        }

        .start-here-link {
            display: inline-block;
            text-align: center;
			margin-top: 1px;
			padding: 1px;
            font-size: 0.8em;
            font-weight: bold;
			text-decoration: none;
            justify-content: center;
            background-color: #FFFACD;
            width: 20%;
            border-radius: 7px;
        }
	 .start-here-link:hover {
            background-color: #FFAE42;
        }

        .buttons-container {
            display: flex;
            justify-content: space-between;
            margin-top: 0px;
            width: 97%;
            margin-left: 1%;
	    
        }

        .btn-next,
        .btn-previous {
            padding: 1.5%;
            cursor: pointer;
            border-radius: 8px;
            font-weight: bold;
            font-size: 0.9em;
	    width: 27%;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	    overflow: hidden;
	    text-align: center;
        }
    
        .btn-previous:hover {
            background-color: #FF6600;
        } 

        .btn-next:hover {
            background-color: #6d8241;
        }
        

        .btn-next {
            background-color: #9CB071;
            color: #fff;
            margin-left: 59%;
        }

        .btn-previous {
            background-color: #FFAE42;
            color: #fff;
            margin-left: 1%;
        }

        .banner-column {
            width: 9%;
            
	    max-height: 90vh;
			box-sizing: border-box;
            overflow: hidden;
            position: fixed;
            top: 6%;
            right: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 3%;
			border-radius: 5px;
        }

        .column-heading {
            color: #C19A6B;
            text-align: center;
            padding: 5%;
			margin-bottom: 3%;
            font-weight: bold;
        }

        .banner-frame {
            aspect-ratio: 1/1;
	    max-width: 100%;
	    height: auto;
			margin-top: 3%;
			margin-bottom: 3%;
            padding: 2% 3%; /* 2% margin on all sides, 3% padding on top and bottom */
            background-color: rgba(255, 255, 255, 0.7);
            border-radius: 7px;
            position: relative;
			border: 1px solid #dee2e6;
			overflow: hidden;
			display: flex;
			justify-content: center;
			align-items: center;
        }

        .banner-frame img {
            width: 100%;
            height: auto;
			padding: 1%;
			margin-top: 1%;
			object-fit: cover; /* Maintain aspect ratio */
            border-radius: 4px;
	    
        }


/* Media queries for smaller screens */
        @media only screen and (max-width: 1200px) {
            .main-menu,
	    .main-menu a,
	    .logo,
		.logo a,
	    .center-column,
	    .telegram,
	    .frame,
	    .frame-img,
	    .start-here-link,
            .buttons-container,
	    .btn-next,
            .btn-previous,
	    .banner-column,
	    .column-heading,
	    .banner-frame,
	    .banner-subheading,
	    .banner-frame img {
                font-size: 0.9em;
            }
            .center-column h2 {
                font-size: 1em;
            }
         }
	@media only screen and (max-width: 1000px) {
            .main-menu,
	    .main-menu a,
	    .logo,
		.logo a,
		.content,
	    .center-column,
	    .telegram,
	    .frame,
	    .frame-img,
	    .start-here-link,
            .buttons-container,
	    .btn-next,
            .btn-previous,
	    .banner-column,
	    .column-heading,
	    .banner-frame,
	    .banner-subheading,
	    .banner-frame img {
                font-size: 0.9em;
            }
            .center-column h2 {
                font-size: 0.9em;
            }
         }
	@media only screen and (max-width: 800px) {
            .main-menu {
        display: none;
    }
	    #mobile-menu-toggle {
        display: block;
    }
	    .main-menu.hidden {
        display: block; /* Ensure the hidden menu is visible on smaller screens */
        position: fixed;
        top: 0;
        left: 0;
        width: 30%;
        height: 100%;
        background-color: #9CB071;
        z-index: 1000;
        overflow-y: auto;
        padding: 20px;
        box-sizing: border-box;
        color: white;
    }	    
	
	.banner-frame {
        aspect-ratio: 1/1; /* Adjust for smaller screens */
    }
	.main-menu a,
	    .logo,
		.logo a,
		.content,
	    .center-column,
	    .frame,
	    .frame-img,
	    .buttons-container,
	    .btn-next,
            .btn-previous,
	    .banner-column,
	    .column-heading,
	    .banner-frame,
	    .banner-subheading,
	    .banner-frame img {
                font-size: 0.85em;
            }
            .center-column h2 {
                font-size: 0.9em;
            }
               
		.telegram,
	    .start-here-link{
                font-size: 0.85em;
            }
          }
@media only screen and (max-width: 600px) {
            .main-menu {
        display: none;
    }
	    #mobile-menu-toggle {
        display: block;
    }
	    .main-menu.hidden {
        display: block; /* Ensure the hidden menu is visible on smaller screens */
        position: fixed;
        top: 0;
        left: 0;
        width: 45%;
        height: 100%;
        background-color: #9CB071;
        z-index: 1000;
        overflow-y: auto;
        padding: 20px;
        box-sizing: border-box;
        color: white;
    }	    
	
	.banner-frame {
        aspect-ratio: 1/1; /* Adjust for smaller screens */
    }
	.main-menu a,
	    .logo,
		.logo a,
		.content,
	    .center-column,
	    .frame,
	    .frame-img,
	    .buttons-container,
	    .btn-next,
            .btn-previous,
	    .banner-column,
	    .column-heading,
	    .banner-frame,
	    .banner-subheading,
	    .banner-frame img {
                font-size: 0.8em;
            }
            .center-column h2 {
                font-size: 0.9em;
            }
               
		.telegram,
	    .start-here-link{
                font-size: 0.8em;
            }
          }
	@media only screen and (max-width: 400px) {
            .main-menu {
        display: none;
    }
	    #mobile-menu-toggle {
        display: block;
    }
	    .main-menu.hidden {
        display: block; /* Ensure the hidden menu is visible on smaller screens */
        position: fixed;
        top: 0;
        left: 0;
        width: 60%;
        height: 100%;
        background-color: #9CB071;
        z-index: 1000;
        overflow-y: auto;
        padding: 20px;
        box-sizing: border-box;
        color: white;
    }
	    .banner-frame {
        aspect-ratio: 1/1; /* Adjust for smaller screens */
    }
	.main-menu a,
	    .logo,
		.logo a,
		.content,
	    .center-column,
	    .telegram,
	    .frame,
	    .frame-img,
	    .start-here-link,
            .buttons-container,
	    .btn-next,
            .btn-previous,
	    .banner-column,
	    .column-heading,
	    .banner-frame,
	    .banner-subheading,
	    .banner-frame img {
                font-size: 0.5em;
            }
            .center-column h2 {
                font-size: 0.6em;
            }
         }