body {
           	margin: 0;
           	font-family: Arial, sans-serif;
            	display: flex;
		background-color: #f8f9fa;
        }

	.main-menu {
            	background-color: #9CB071; /* Green color */
		width: 18%;
		padding: 2%;
		box-sizing: border-box;
		color: white;
		height: 100vh;
        }
	.main-menu a {
            	display: block; 
		width: 95%;
		color: white;
		text-decoration: none;
		padding: 2px;
		margin: 1%;
		margin-left: 5%;
		font-size: 0.9em; /* Set font size for main items */
		font-weight: bold;
		border-radius: 3px;
        }

	.main-menu ul li:hover {
            	background-color: #6d8241;
        }

        .main-menu ul {
            	list-style-type: none;
            	padding: 2%;
           	margin-bottom: 1%;
		margin-top: 2%;
        }

        .main-menu ul li {
            	color: #c0c0c0; /* Color for sub-items */
            	font-size: 0.85em; /* Font size for sub-items */
           	border: 1px solid #b0c08d;
		border-radius: 7px;
	}

	.main-menu ul .sub-menu {
            	display: block;
            	margin-left: 21%;
        }

        .main-menu ul .sub-menu li {
            	color: #c0c0c0; /* Color for sub-items */
            	font-size: 0.9em; /* Font size for sub-items */
		font-weight:bold;
        }
		
	.main-menu ul .sub-menu li:hover {
            	background-color: #404B29;
        }

        .main-menu .logo {
            	text-align: center;
            	margin-bottom: 20px;
	        justify-content: center;
		align-items: center;
        }

        .main-menu .logo img {
           	max-width: 24%;
            	height: auto;
		justify-content: center;
		align-items: center;
        }



        .container {
            display: flex;
        }

        .mobile-menu {
           	display: none;
		width: 40%;
            	background-color: #9CB071; /* Adjust as needed */
           	padding: 3px;
	    	box-sizing: border-box;
	    	color: white;
            	position: absolute;
            	top: 0;
            	left: 0;
            	height: 100%;
            	z-index: 5;
        }

        .mobile-menu a {
            	display: block;
		color: white;
		text-decoration: none;
		padding: 2px 0;
		margin: 1%;
		margin-left: 5%;
		font-size: 0.9em; /* Set font size for main items */
		font-weight: bold;
		border-radius: 3px;
        }

        .mobile-menu ul li:hover {
            	background-color: #6d8241;
        }

        .mobile-menu ul {
            	list-style-type: none;
            	padding: 2%;
           	margin-bottom: 1%;
		margin-top: 2%;
        }

        .mobile-menu ul li {
            	color: #c0c0c0; /* Color for sub-items */
            	font-size: 0.8em; /* Font size for sub-items */
           	border: 1px solid #b0c08d;
		border-radius: 7px;
	}

	.mobile-menu ul .sub-menu {
            	display: block;
            	margin-left: 21%;
        }

        .mobile-menu ul .sub-menu li {
            	color: #c0c0c0; /* Color for sub-items */
            	font-size: 0.9em; /* Font size for sub-items */
		font-weight:bold;
        }
		
	.mobile-menu ul .sub-menu li:hover {
            	background-color: #404B29;
        }

        .mobile-menu .logo {
            	text-align: center;
            	margin-bottom: 20px;
        }

        .mobile-menu .logo img {
           	max-width: 24%;
            	height: auto;
        }




	.content {
            	flex-grow: 1;
            	padding: 5px;
            	box-sizing: border-box;
		justify-content: center;
		align-items: center;
        }

        .center-column {
            	float: center;
		background-color: #f8f9fa;
            	width: 73%;
            	padding: 0px;
            	box-sizing: border-box;
            	text-align: center;
            	margin-left: 6%;
		justify-content: center;
		align-items: center;
        }

        .telegram {
            	width: 26%;
		background-color: #FFFACD;
		display: inline-block;
            	border-radius: 7px;
            	overflow: hidden;
            	position: relative;
            	text-decoration: none;
            	padding: 0;
           	text-decoration: none;
            	text-align: center;
           	margin-top: 1px;
		margin-bottom: 1%;
		font-weight: bold;
		font-size: 0.85em;
        }
		
        .telegram:hover {
            	background-color: #FFAE42;
        }
	
	
	#imageHeading {
           	width: 100%;
		margin-bottom: 1%;
		text-align: center;
            	color: #795C34;
            	margin-top: 5px; /* Adjust margin as needed */
            	font-family: Arial, sans-serif; /* Set the font-family */
            	font-size: 1.3em;
	} 
		
        .frame {
            	max-width: 100%;
            	max-height: 70vh;
           	margin: 0 auto;
            	overflow: hidden;
            	position: relative;
            	border: 1px solid #BACA99;
            	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            	padding: 1.5%;
            	background-color:#E7EDDA;
            	border-radius: 4%;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
        }

        .frame img {
            	width: 100%;
		max-width: 100%;
            	max-height: 98%;
            	object-fit: cover;
            	display: block;
            	border: 1px solid #D0DBB8;
            	border-radius: 3%;
            	margin: 0 auto;
        }

        .start-here-link {
            	display: inline-block;
            	text-align: center;
		margin-top: 1px;
		padding: 1px;
            	font-size: 0.8em;
            	font-weight: bold;
		text-decoration: none;
            	justify-content: center;
            	background-color: #FFFACD;
            	width: 26%;
            	border-radius: 7px;
        }

	.start-here-link:hover {
            	background-color: #FFAE42;
        }

        .buttons-container {
            	display: flex;
		position:relative;
            	justify-content: space-between;
            	margin-top: 0px;
            	width: 117%;
            	margin-left: 2%;
	 }

        .btn-next,
        .btn-previous {
            	padding: 1.2%;
		position: absolute;
            	cursor: pointer;
            	border-radius: 8px;
            	font-weight: bold;
            	font-size: 0.9em;
	    	width: 22%;
            	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	    	overflow: hidden;
	    	text-align: center;
        }
    
        .btn-previous:hover {
            	background-color: #FF6600;
        } 

        .btn-next:hover {
            	background-color: #6d8241;
        }
        
        .btn-next {
            	background-color: #9CB071;
            	color: #fff;
            	margin-left: 59%;
        }

        .btn-previous {
            	display: none;
		background-color: #FFAE42;
            	color: #fff;
            	margin-left: 1%;
        }

        .banner-column {
           	width: 9%;
            	max-height: 90vh;
		box-sizing: border-box;
            	overflow: hidden;
            	position: fixed;
            	top: 6%;
            	right: 0;
            	display: flex;
            	flex-direction: column;
            	align-items: center;
            	margin: 3%;
		border-radius: 5px;
        }

        .column-heading {
            	color: #C19A6B;
            	text-align: center;
            	padding: 5%;
		margin-bottom: 3%;
            	font-weight: bold;
        }

        .banner-frame {
            	aspect-ratio: 1/1;
	    	max-width: 100%;
	    	height: auto;
		margin-top: 3%;
		margin-bottom: 3%;
            	padding: 2% 3%; /* 2% margin on all sides, 3% padding on top and bottom */
            	background-color: rgba(255, 255, 255, 0.7);
            	border-radius: 7px;
            	position: relative;
		border: 1px solid #dee2e6;
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
        }

        .banner-frame img {
            	width: 100%;
            	height: auto;
		padding: 1%;
		margin-top: 1%;
		object-fit: cover; /* Maintain aspect ratio */
            	border-radius: 4px;
	 }
        



	#mobile-menu-toggle {
    		background-color: white;
	        display: none;
    		font-size: 25px;
   		color: black;
   	 	cursor: pointer;
   	 	position: fixed;
   		top: 10px;
   		left: 10px;
   		z-index:6;
        }


 @media only screen and (max-width: 1200px) {
            	.main-menu
	    	{ width: 22%;
            	}
	    	.main-menu a
		{ width: 95%;
		font-size: 0.85em;
            	}
	    	.logo,
		.logo a,
	    	.center-column,
	    	.frame,
	    	.frame-img,
	    	.buttons-container,
	    	.btn-next,
            	.btn-previous,
	    	.banner-column,
	    	.column-heading,
	    	.banner-frame,
	    	.banner-subheading,
	    	.banner-frame img {
                font-size: 0.9em;
            	}

            	.center-column h2 {
                font-size: 0.95em;
            	}
         	
		.start-here-link,
		.telegram {
                font-size: 0.8em;
		font-weight: bold;
            	}

		}

 @media only screen and (max-width: 1100px) {
            	.main-menu
	    	{ width: 24%;
            	}
	    	.main-menu a
		{ width: 95%;
		font-size: 0.85em;
            	}
	    	.logo,
		.logo a,
	    	.center-column,
	    	.frame,
	    	.frame-img,
	    	.buttons-container,
	    	.btn-next,
            	.btn-previous,
	    	.banner-column,
	    	.column-heading,
	    	.banner-frame,
	    	.banner-subheading,
	    	.banner-frame img {
                font-size: 0.9em;
            	}

            	.center-column h2 {
                font-size: 0.95em;
            	}
         	
		.start-here-link,
		.telegram {
                font-size: 0.8em;
		font-weight: bold;
            	}

		}

@media only screen and (max-width: 1000px) {
            	.main-menu
	    	{ width: 27%;
            	}
	    	.main-menu a
		{ width: 95%;
		font-size: 0.84em;
            	}
	    	.logo,
		.logo a,
	    	.center-column,
	    	.frame,
	    	.frame-img,
	    	.buttons-container,
	    	.btn-next,
            	.btn-previous,
	    	.banner-column,
	    	.column-heading,
	    	.banner-frame,
	    	.banner-subheading,
	    	.banner-frame img {
                font-size: 0.85em;
            	}

            	.center-column h2 {
                font-size: 0.9em;
            	}
         	
		.start-here-link,
		.telegram {
                font-size: 0.65em;
            	font-weight: bold;
		}

		}

@media only screen and (max-width: 900px) {
            	.main-menu
	    	{ width: 31%;
            	}
	    	.main-menu a
		{ width: 95%;
		font-size: 0.84em;
            	}
	    	.logo,
		.logo a,
	    	.center-column,
	    	.frame,
	    	.frame-img,
	    	.buttons-container,
	    	.btn-next,
            	.btn-previous,
	    	.banner-column,
	    	.column-heading,
	    	.banner-frame,
	    	.banner-subheading,
	    	.banner-frame img {
                font-size: 0.85em;
            	}

            	.center-column h2 {
                font-size: 0.9em;
            	}
         	
		.start-here-link,
		.telegram {
                font-size: 0.65em;
            	font-weight: bold;
		}

		}

@media only screen and (max-width: 800px) {
            
	 .main-menu {
        	display: none;
		top: 15px;
	    }

	.main-menu a {
        	display: none;
		font-size: 0.85em;
	    }

	.banner-column {
        	display: none;
	    }


	.mobile-menu {
                width: 40%;
                display: none;
            }

	.mobile-menu a {
                width: 90%;
                display: block;
		font-size: 0.85em;
            }

        .mobile-menu ul li {
            	color: #c0c0c0; /* Color for sub-items */
            	font-size: 0.85em; /* Font size for sub-items */
           	border: 1px solid #b0c08d;
		border-radius: 7px;
	}
	
	.content {
                display: block;
            }

	#mobile-menu-toggle {
        	display: block;
	        width: 10%;
		top: 3%;
		left: 3%;
		background-color: #f8f9fa;
		text-align: center;
	   }

	.main-menu .logo {
            	text-align: center;
            	margin-top:30%;
	   }

	    	.banner-column,
		.banner-frame,
		.banner-subheading,
	    	.banner-frame img {
        	 display: none;
		 width: 1%;
    	    	}

	    	.center-column {
                float: center;
		background-color: #f8f9fa;
                width: 81%;
                padding: 0px;
                box-sizing: border-box;
                text-align: center;
                margin-left:9%;
		justify-content: center;
		align-items: center;
           	}

	    	.center-column,
	    	.frame,
	    	.frame-img,
	    	.buttons-container,
	    	.column-heading,
	    	.banner-subheading,
	    	.banner-frame img {
                font-size: 0.85em;
            	}

            	.center-column h2 {
                font-size: 1em;
            	}
               
	    	.telegram,
	    	.start-here-link {
		width: 50%
                font-size: 0.75em;
		font-weight: bold;
		}
		
		.btn-next,
            	.btn-previous {
		font-size: 1.1em;
		font-weight: bold;
		}

          	}

        }


@media only screen and (max-width: 600px) {
	 .main-menu {
        	display: none;
		width: 32%;
	        top: 15px;
	    }

	.main-menu a {
        	display: none;
	    }

	.banner-column {
        	display: none;
	    }


	.mobile-menu {
                width: 60%;
                display: block;
            }

	.mobile-menu a {
                width: 90%;
                display: block;
		font-size: 0.8em;
            }

        .mobile-menu ul li {
            	color: #c0c0c0; /* Color for sub-items */
            	font-size: 0.8em; /* Font size for sub-items */
           	border: 1px solid #b0c08d;
		border-radius: 7px;
	}

	.content {
                display: block;
            }

	#mobile-menu-toggle {
        	display: block;
	        width: 10%;
		background-color: #f8f9fa;
		text-align: center;
	   }

	.main-menu .logo {
            	text-align: center;
            	margin-top:30%;
	   }

	    	.banner-column,
		.banner-frame,
		.banner-subheading,
	    	.banner-frame img {
        	 display: none;
		 width: 1%;
    	    	}

	    	.center-column {
                float: center;
		background-color: #f8f9fa;
                width: 88%;
                padding: 0px;
                box-sizing: border-box;
                text-align: center;
                margin-left: 5%;
		justify-content: center;
		align-items: center;
           	}

	    	.main-menu a,
	    	.frame,
	    	.frame-img,
	    	.buttons-container,
	    	.btn-next,
            	.btn-previous,
	    	.column-heading,
	    	.banner-subheading,
	    	.banner-frame img {
                font-size: 0.65em;
            	}

            	.center-column h2 {
                font-size: 0.9em;
            	}
               
		.telegram,
	    	.start-here-link{
                font-size: 0.65em;
		font-weight: bold;
            	}

		.btn-next,
            	.btn-previous {
		font-size: 1.6em;
		font-weight: bold;
		}

          	}
	